.wrapper {
    display: inline-flex;
    align-items: center;
    font-weight: 700;
    font-size: 1.6rem;
    border-radius: 4px;
    padding: 6px 8px;
    min-height: 36px;
    cursor: pointer;
    border: 1px solid transparent;
    + .wrapper {
        margin-left: 5px;
    }
}
.icon {
    // font-size: ;
    padding-top: 2px;
}
.title {
    flex: 1;
    text-align: start;
}
.icon + .title,
.title + .icon {
    margin-left: 5px;
}
// button type
.primary {
    background-color: var(--primary-color);
    color: var(--white-color);
    &:hover {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), #fe2c55;
    }
}
.outline_primary {
    border-color: 1px solid var(--primary-color);
    color: var(--primary-color);
    &:hover {
        background-color: rgba(254, 44, 85, 0.06);
    }
}
.outline_dark {
    font-weight: 500;
    border: 1px solid rgba(22, 24, 35, 0.12);
    color: var(--dark-color);
    &:hover {
        background-color: rgba(254, 44, 85, 0.03);
    }
}
.rounded {
    font-size: 14px;
    height: 32px;
    min-width: 90px !important;
    color: rgba(22, 24, 35, 0.75);
    text-align: center;
    background-color: var(--white-color);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
    border-radius: 52px;
    border: 1px solid rgba(22, 24, 35, 0.12);
}

// button size
.medium {
    min-width: 100px;
}
.small {
    min-height: 26px;
    min-width: 88px;
    padding: 0 10px;
}
.large {
    min-width: 168px;
    min-height: 48px;
}
// status
.disable {
    pointer-events: none;
    background-color: #333;
    &:hover {
        border-color: rgba(22, 24, 35, 0.2);
        background-color: rgba(255, 255, 255, 1);
    }
}
